* {
  text-decoration: none;
}



html, body {
  height: 100%;
    margin: 0;
    padding: 0;
  background: url(https://static.wixstatic.com/media/6b8ff6_10fb8a85ee3e478b8a122e100ab9e36b.jpg/v1/fill/w_1920,h_1044,al_t,q_85/6b8ff6_10fb8a85ee3e478b8a122e100ab9e36b.webp);
  background-size: cover;
}

.wix {
  margin-top: 10px;
  margin-left: 254px;
}

.font_1 {
  margin-top: 22px;
  font-family: helvetica,sans-serif;
  font-size: 52px;
  font-weight: lighter;
  color: rgba(54,54,54,1);
  margin-left: 250px;
}

.font_2 {
  font-family: helvetica,sans-serif;
  font-size: 52px;
  color: rgba(54,54,54,1);
  margin-left: 250px;
  font-weight: lighter;
  margin-top: -35px;
}

.font_5 {
    font: 20px/1.4em helvetica,sans-serif;
    font-weight: lighter;
    color: rgba(54,54,54,1);
    margin-left: 250px;
    margin-top: -30px;
}

.button {
  left: 259px;
  top: 274px;
  position: absolute;
}

#bottom {
  background-color: #121212;
  opacity: 0.7;
  position: absolute;
  top: 84%;
  right: 0;
  bottom: 32px;
  left: 0;
}

.font_6 {
  font: 18px/1.4em helvetica,sans-serif;
  font-weight: lighter;
  color: #8a8a8a;
  position:  absolute;
  margin-left: 460px;
  margin-top: 35px;
}

.image {
  margin-top: 30px;
  height: auto;
  margin-left: 625px;

}

.footer {
  font: 14px/1.4em helvetica,sans-serif;
  font-weight: lighter;
  margin-top: 510px;
  margin-left: 45%;
  margin-bottom: 0;
  color: #929292;
  padding-top: 6px;
}

#footer {
    height: 32px;
    width: 100%;
    background-color: #f5f5f5;
}
